HF_HOME=C:\ProgramData\LocalRAG\profiles\ocr\cache\huggingface
HF_HUB_CACHE=C:\ProgramData\LocalRAG\profiles\ocr\cache\huggingface\hub
HF_HUB_OFFLINE=1
HOME=C:\ProgramData\LocalRAG\profiles\ocr
OCR_CPU_THREADS=10
OCR_DEVICE=cpu
OCR_MODEL_ASSET_ROOT=C:\Program Files\LocalRAG\current\signed-assets\paddleocr-vl-1.6
OCR_OWNERSHIP_PATH=C:\ProgramData\LocalRAG\state\ocr\ocr.owner
OCR_PIPELINE_VERSION=v1.6
OCR_PYTHON_EXECUTABLE=C:\Program Files\LocalRAG\current\runtimes\ocr-python\python.exe
OCR_SERVICE_TOKEN=REPLACE_WITH_32_CHARACTER_SECRET
OCR_TIMEOUT_SECONDS=900
OCR_WORKSPACE_ROOT=C:\ProgramData\LocalRAG\work\ocr
PADDLE_HOME=C:\Program Files\LocalRAG\current\signed-assets\paddleocr-vl-1.6
PYTHONNOUSERSITE=1
PYTHONUTF8=1
TEMP=C:\ProgramData\LocalRAG\profiles\ocr\tmp
TMP=C:\ProgramData\LocalRAG\profiles\ocr\tmp
TRANSFORMERS_CACHE=C:\ProgramData\LocalRAG\profiles\ocr\cache\transformers
TRANSFORMERS_OFFLINE=1
USERPROFILE=C:\ProgramData\LocalRAG\profiles\ocr
XDG_CACHE_HOME=C:\ProgramData\LocalRAG\profiles\ocr\cache
